USE [master]
GO
/****** Object:  Database [DemoStars]    Script Date: 21.06.2023 15:22:36 ******/
CREATE DATABASE [DemoStars]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DemoStars', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DemoStars.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DemoStars_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DemoStars_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DemoStars].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DemoStars]
GO
/****** Object:  Table [dbo].[ShopStars]    Script Date: 21.06.2023 15:22:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopStars](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fullName] [varchar](50) NOT NULL,
	[description] [varchar](70) NOT NULL,
	[vendor] [varchar](30) NOT NULL,
	[price] [float] NOT NULL,
	[count] [int] NOT NULL,
	[discount] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
